<!--myapp/templates/base.html-->
<!--Note that including static files (foundation) is only for development purposes -->
<!--Switch to minimized version of foundation when moving to production-->

<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css">
    <link rel="stylesheet" href="{% sass_src "scss/style.scss" %}">
  </head>

  <body>
    <div class="main-wrapper">
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="nav-bar">
          <div class="nav-bar-left">
            <ul class="menu title-icon">
              <!--Main Logo-->
              <a href="/" class="hide-for-small-only"><i class="fas fa-chess-knight fa-3x"> Pithers</i></a>
              <a href="/" class="show-for-small-only"><i class="fas fa-chess-knight fa-2x"></i></a>
            </ul>
          </div>
          <div class="nav-bar-right">
            <!--Top of the screen nav-bar-->
            <ul class="menu title-icon">
              {% if user.is_authenticated %}
              <li class="hide-for-small-only"><a href="/logout/">Logout</a></li>
              <a href="/preferences/"><i class="fas fa-cog fa-lg"></i></a>
              <a href="/login/" class="hide-for-small-only"><i class="fas fa-user fa-lg"> {{ user.username }}</i></a>
              <a href="/login/" class="show-for-small-only"><i class="fas fa-user fa-lg"></i></a>
              {% else %}
              <a href="/login/" class="hide-for-small-only"><i class="fas fa-user-times fa-lg"> Guest</i></a>
              <a href="/login/" class="show-for-small-only"><i class="fas fa-user-times fa-lg"></i></a>
              {% endif %}
              <li>
                <li>
                  <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
                    <span class="offcanvas-trigger-text hide-for-small-only">Menu</span>
                    <div class="hamburger">
                      <span class="line"></span>
                      <span class="line"></span>
                      <span class="line"></span>
                    </div>
                  </button>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <!--Offcanvas sidebar-->
      <div class="multilevel-offcanvas off-canvas position-right" id="offCanvasRight" data-off-canvas>
        <br>
        Content
        <hr>
        <ul class="vertical menu" data-accordion-menu>
          <li><a href="#">WegGL</a>
            <ul class="menu vertical nested">
              <li><a href="/webgl/drawing">Drawing</a></li>
              <li><a href="/webgl/double_drawing">Double Drawing</a></li>
              <li><a href="/webgl/platformer">Platformer</a></li>
              <li><a href="/webgl/bootleg_mario">Bootleg Mario</a></li>
              <li><a href="/webgl/3d_windmill">3D Windmill</a></li>
              <li><a href="/webgl/3d_lighting">3D Lighting</a></li>
            </ul>
          </li>
          <li><a href="/posts/">Post System</a></li>
          <li><a href="/music/">Music</a></li>
          <li><a href="https://github.com/Pithers/Dissociation">Visual Novel</a></li>
        </ul>
        <br>
        {% if user.is_authenticated %}
        User: {{ user.username }}
        {% else %}
        Account
        {% endif %}
        <hr>
        <ul class="vertical menu" data-accordion-menu>
          {% if user.is_authenticated %}
          <li><a href="/preferences/">Preferences</a></li>
          <li><a href="/logout/">Logout</a></li>
          {% else %}
          <li><a href="/login/">Login</a></li>
          {% endif %}
              </li>
        </ul>
        <br>
        Styling
        <hr>
        <ul class="vertical menu" data-accordion-menu>
          <!--Correctly displays color scheme names, but need to turn this into a button that loads the scheme in-->
          <li><a href="#">My Color Schemes</a>
            <ul class="menu vertical nested" name="vue-color-list">
              <div id="fetch_color_scheme">
                {% if user.is_authenticated %}
                <div v-if="color_scheme.length == 0">
                  <li><a href="#">None available</a></li>
                </div>
                <div v-for="(item, index) in color_scheme">
                  <li><a v-on:click="loadColorScheme(item.color_scheme_name);">[[ item.color_scheme_name ]]</a></li>
                </div>
                {% else %}
                <li><a href="/login/">Login to access color schemes</a></li>
                {% endif %}
              </div>
            </ul>
          </li>
        </ul>
        <ul class="vertical menu">
          <div class="switch">
            <input class="switch-input" id="light-switch" type="checkbox">
            <label class="switch-paddle" for="light-switch">
              <i class="switch-active fas fa-moon fa-lg" style="color:#fefcd7"></i>
              <i class="switch-inactive fas fa-sun fa-lg" style="color:#fcd440"></i>
            </label>
          </div>
        </ul>
        <br>
        Website
        <hr>
        <ul class="menu simple about-menu">
          <li><a href="/about/">About</a></li>
          <li><a href="https://github.com/pithers/Web-Work" target="_blank"><i class="fab fa-github-square fa-2x"></i></a></li>
          <li><a href="https://gitlab.com/pithers/Web-Work" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a></li>
        </ul>
      </div>

      <!--Page Title-->
      <div class="title-block">
        <h1>{% block page_name %}{% endblock %}</h1>
      </div>

      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <p>Created by <a href="/about/">Brandon Smith</a></p>
      <p>brandonsmithsemail@gmail.com</p>
      {% if messages %}
      {% for message in messages %}
      {% if "LOGOUT" in message.extra_tags %}
      <div id="logout-msg"></div>
      {% endif%}
      {% endfor %}
      {% endif %}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.1.3/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.min.js"></script>
    <script src="{% static "js/base_app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
