{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block page_name %}Color Palette Picker{% endblock %}

{% block content %}
<div class="grid-container">
  <!--Only allow user to save color scheme if they are logged in-->
  {% if user.is_authenticated %}
  <form action="/" method="POST">
    {% csrf_token %}

    <div class="grid-x grid-padding-x">
      <div class="cell">
        {% for hidden_field in color_scheme_form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
      </div>

      <!--Naming Field for ColorScheme-->
      <div class="cell">
        {{ color_scheme_form.color_scheme_name.label_tag }}
        {{ color_scheme_form.visible_fields.0 }}
      </div>

      <!--Color Fields-->
      <div class="grid-x grid-padding-x">
        {% for field in color_scheme_form.visible_fields %}
        <!--Ignore other logic for the name field of the form-->
        {% if not forloop.first %}
        <div class="form-group cell small-4">
          {{ field.label_tag }}
          <button class="jscolor {valueElement: {{ field.name }}}">

            <!--Display the form and use the correct template variable-->
            {% if field.name == 'color_bg' %}
            {% render_field field id='color-bg' %}
            {% elif field.name == 'color_text' %}
            {% render_field field id='color-text' %}
            {% elif field.name == 'color_text_invert' %}
            {% render_field field id='color-text-invert' %}
            {% elif field.name == 'color_text_highlight' %}
            {% render_field field id='color-text-highlight' %}
            {% elif field.name == 'color_base' %}
            {% render_field field id='color-base' %}
            {% elif field.name == 'color_accent' %}
            {% render_field field id='color-accent' %}
            {% elif field.name == 'color_tertiary' %}
            {% render_field field id='color-tertiary' %}
            {% elif field.name == 'color_border' %}
            {% render_field field id='color-border' %}
            {% elif field.name == 'color_border_accent' %}
            {% render_field field id='color-border-accent' %}
            {% elif field.name == 'color_border_transp' %}
            {% render_field field id='color-border-transp' %}
            {% elif field.name == 'color_drop_shadow' %}
            {% render_field field id='color-drop-shadow' %}
            {% endif %}

          </button>
          {% endif %}

          {% if field.help_text %}
          <!--small class="form-text text-muted">{{ field.help_text }}</small-->
          {% endif %}
        </div>
        {% endfor %}
        <div class="cell"><br></div>
        <div class="cell">
          <input type="Submit" class="button" value="Save Color Scheme">
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div>Please login to save color scheme to profile.</div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
<script src="{% static "js/color_mode.js" %}"></script>
{% endblock %}
