{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block page_name %}Color Palette Picker{% endblock %}

{% block content %}
<div class="grid-container palette">

  <!--Script overwrite loadSession for this page -->
  <script type="text/javascript">
    function init() {
      loadSession()
      updateJscolor()
    }window.onload = init;
  </script>

  <!--Color Palette Display-->
  <div class="palette-container">
    <!--Base Colors-->
    <div class="palette-box" style="background-color: var(--color-bg);">Elements</div>
    <div class="palette-box" style="background-color: var(--color-base);"></div>
    <div class="palette-box" style="background-color: var(--color-accent);"></div>
    <div class="palette-box" style="background-color: var(--color-tertiary);"></div>
  </div>

  <!--Text Colors-->
  <div class="palette-container">
    <div class="palette-box" style="background-color: var(--color-text);">Text</div>
    <div class="palette-box" style="background-color: var(--color-text-invert);"></div>
    <div class="palette-box" style="background-color: var(--color-text-highlight);"></div>
  </div>

  <!--Border/Box Colors-->
  <div class="palette-container">
    <div class="palette-box" style="background-color: var(--color-border);">Borders</div>
    <div class="palette-box" style="background-color: var(--color-border-accent);"></div>
    <div class="palette-box" style="background-color: var(--color-drop-shadow);"></div>
  </div>

  <form action="/" method="POST" onsubmit="colorListUpdate();">
    {% csrf_token %}

    <div class="grid-x grid-padding-x">
      <div class="cell">
        {% for hidden_field in color_scheme_form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
      </div>

      <!--Color Fields-->
      <div class="grid-x grid-padding-x">
        {% for field in color_scheme_form.visible_fields %}
        <!--Ignore other logic for the name field of the form-->
        {% if not forloop.first %}
        <div class="palette-field cell small-4">
          <button class="jscolor {valueElement: {{ field.name }}}" onchange="updateStorage('{{ field.label }}','save');">
            {{ field.label_tag }}
            <!--Display the form and use the correct template variable-->
            {% if field.name == 'color_bg' %}
            {% render_field field id='color-bg' %}
            {% elif field.name == 'color_text' %}
            {% render_field field id='color-text' %}
            {% elif field.name == 'color_text_invert' %}
            {% render_field field id='color-text-invert' %}
            {% elif field.name == 'color_text_highlight' %}
            {% render_field field id='color-text-highlight' %}
            {% elif field.name == 'color_base' %}
            {% render_field field id='color-base' %}
            {% elif field.name == 'color_accent' %}
            {% render_field field id='color-accent' %}
            {% elif field.name == 'color_tertiary' %}
            {% render_field field id='color-tertiary' %}
            {% elif field.name == 'color_border' %}
            {% render_field field id='color-border' %}
            {% elif field.name == 'color_border_accent' %}
            {% render_field field id='color-border-accent' %}
            {% elif field.name == 'color_drop_shadow' %}
            {% render_field field id='color-drop-shadow' %}
            {% endif %}
          </button>
          {% endif %}
        </div>
        {% endfor %}
        <div class="palette-field cell small-4">
            <div class="palette-button button colormind" data-colormind-start>
              Generate Color Scheme
            </div>
            <div class="palette-button button colormind hide" data-colormind-end>
              Generating...
            </div>
        </div>
        <div class="palette-field cell small-4">
            <div class="palette-button button colormind" onclick="colorRandomizer()">
              Randomize
            </div>
        </div>
      </div>
      <!--Naming Field for ColorScheme-->
      <div class="grid-x grid-padding-x palette-name">
        {{ color_scheme_form.color_scheme_name.label_tag }}
        {{ color_scheme_form.visible_fields.0 }}
      </div>
      <div class="cell">
        <!--Only allow user to save color scheme if they are logged in-->
        {% if user.is_authenticated %}
        <input type="Submit" class="button palette-submit" value="Save Color Scheme">
        {% else %}
        <div class="button palette-submit">Please login to save color scheme to profile.</div>
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
<script src="{% static "js/color_mode.js" %}"></script>
<script src="{% static "js/colormind.js" %}"></script>
{% endblock %}
