{% extends "base.html" %}

{% block page_name %}Music{% endblock %}

{% block content %}
<div class="music-container">
<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/681141387%3Fsecret_token%3Ds-vGcCp&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}


















