{% extends "base.html" %}
{% load static %}

{% block page_name %}Preferences{% endblock %}

{% block content %}
<div class="grid-container palette">
  <form name="preferences_form" id="preferences_form" action="/preferences/" method="post">
    {% csrf_token %}

    <div class="user-color-schemes" id="user-color-schemes">
      Set User Default Color Schemes:
    </div>
    <input id="preference_form_input" type="hidden">
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/preferences.js" %}"></script>
{% endblock %}
