/*need to look into session storage for these variables so it stays between pages
also need to attach them to the user database for remembering preferences
would also be nicer to declare each theme rather than make global variables for each style*/

/*Todo: hook this up to colormind's web api for randomly generated website color schemes*/
/*    : Make sure colors have a fallback (hex 8 digit color code not supported by everyone*/

.light-mode {
  --color-bg: #e5e4d3;
  --color-base: #817b7b;
  --color-accent: #667075;
  --color-tertiary: #666666;
  --color-text: #241a22;
  --color-text-invert: #e5e4d3;
  --color-text-highlight: #20436f;
  --color-border: #838378;
  --color-border-accent: #727267;
  --color-drop-shadow: #00000033;
}

.dark-mode {
  --color-bg: #24252f;
  --color-base: #7f838e;
  --color-accent: #7dacc4;
  --color-tertiary: #666666;
  --color-text: #eaeced;
  --color-text-invert: #24252f;
  --color-text-highlight: #1f6f90;
  --color-border: #826c73;
  --color-border-accent: #715d62;
  --color-drop-shadow: #ffffff33;
}

.main-wrapper {
  min-height: 100vh;
  height: auto !important;
  padding-bottom: 50px;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

footer {
  text-align: center;
  background: var(--color-base);
  color: var(--color-text);
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: var(--color-text-ui); /*#fefefe;*/
}

footer a:hover {
  color: var(--color-text-highlight); /*#a8b8c3;*/
}

label {
  color: var(--color-text);
}

.title-block {
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

.music-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*UI Overwrites*/
.button {
  background: var(--color-base);
  color: var(--color-text);
}

.button:hover {
  background: var(--color-accent);
  color: var(--color-text-invert);
}

.button.secondary {
  background: var(--color-tertiary);
  color: var(--color-text);
}

.button.secondary:hover {
  background: var(--color-accent);
  color: var(--color-text-invert);
}

.switch input:checked ~ .switch-paddle {
  background: var(--color-base);
}

.switch-paddle {
  background: var(--color-accent);
  border-radius: 20px;
}

.switch-paddle:after {
  border-radius: 50%;
}

.suggestion-css-class {
  color: var(--color-text);
}

.title-icon .fa:hover, .title-icon .fas:hover {
  color: var(--color-text-invert);
}

select {
  width: auto;
}

[type="number"] {
  width: auto;
}

.user-icon {
  height: 120px;
  width: 120px;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle;
}

.user-name {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

hr {
  padding-top: 0px;
  margin-top: 0px;
}

/*Main Menu Bar Content*/
.nav-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-base); /*#2c3840;*/
  height: 75px;
  margin-bottom: 20px;
}

.nav-bar-left {
  margin-left: 15px;
}

.nav-bar .nav-bar-logo {
  padding: 1.8rem;
}

.nav-bar li {
  background: var(--color-base); /*#2c3840;*/
}

.nav-bar a {
  color: var(--color-text-ui); /*#fefefe;*/
  transition: color 0.2s ease-in;
}

.nav-bar a:hover {
  color: var(--color-text-highlight); /*#a8b8c3;*/
}

.menu a:hover {
  color: var(--color-text-highlight); /*#a8b8c3;*/
}

@media screen and (max-width: 39.9375em) {
  .nav-bar {
    height: 53.57143px;
  }
}

.nav-bar .offcanvas-trigger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.6rem;
  color: var(--color-accent); /*#fefefe;*/
  text-transform: uppercase;
  background-color: var(--color-base); /*#566d7c;*/
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.nav-bar .offcanvas-trigger .offcanvas-trigger-text {
  margin-right: 0.25rem;
}

.nav-bar .offcanvas-trigger:hover {
  background-color: var(--color-bg); /*#6b879a;*/
}

@media screen and (max-width: 39.9375em) {
  .nav-bar .offcanvas-trigger {
    padding: 0.9rem;
  }
}

.multilevel-offcanvas {
  background: var(--color-bg);/*#222b31;*/
  padding: 20px;
  color: var(--color-text); /*#fefefe;*/
}

.multilevel-offcanvas .switch {
  margin-left: 0.1rem;
}

.multilevel-offcanvas > .menu {
  margin-bottom: 1rem;
}

.multilevel-offcanvas .menu a {
  color: var(--color-text);
  opacity: 0.6;
  padding-top: 34px;/*7px;*/
  padding-bottom: 7px;
  transition: color 0.2s ease-in;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

}

.multilevel-offcanvas .menu a:hover {
  color: var(--color-accent);/*#fefefe;*/
}

.multilevel-offcanvas .fa {
  color: var(--color-accent);/*#fefefe;*/
}

.multilevel-offcanvas .is-accordion-submenu-parent > a::after {
  border-color: var(--color-border-transparent) transparent transparent;
}

.multilevel-offcanvas .social-links {
  margin-left: 20px;
}

.multilevel-offcanvas .social-links li {
  margin-right: 5px;
}

.multilevel-offcanvas .social-links a:hover .fa {
  color: var(--color-text); /*#bebebe;*/
  transition: color .2s ease-in;
}

.multilevel-offcanvas .social-links .fa {
  font-size: 2.2rem;
}

.body-info {
  text-align: center;
  color: var(--color-text); /*#3c3840;*/
}

.body-info .button {
  margin: 1rem 0;
  padding: 0.85em 2em;
}

.is-open + .off-canvas-content .hamburger .line:nth-child(1),
.is-open + .off-canvas-content .hamburger .line:nth-child(3) {
  width: 12px;
}

.is-open + .off-canvas-content .hamburger .line:nth-child(1) {
  -webkit-transform: translateX(-5px) rotate(-45deg);
  -ms-transform: translateX(-5px) rotate(-45deg);
  transform: translateX(-5px) rotate(-45deg);
}

.is-open + .off-canvas-content .hamburger .line:nth-child(3) {
  -webkit-transform: translateX(-5px) rotate(45deg);
  -ms-transform: translateX(-5px) rotate(45deg);
  transform: translateX(-5px) rotate(45deg);
}

.hamburger .line {
  width: 20px;
  height: 2px;
  background-color: var(--color-text); /*#fefefe;*/
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger .line:last-child {
  margin-bottom: 0.25rem;
}

/*Card Content*/
.card-info {
  background: var(--color-bg); /*#fefefe;*/
  border: 1px solid var(--color-border); /*#8a8a8a;*/
  box-shadow: 0 10px 20px var(--color-drop-shadow);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

.card-info .card-info-label {
  border-color: transparent var(--color-border) transparent transparent;
  border-color: var(--color-border-transparent) var(--color-border) var(--color-border-transparent) var(--color-border-transparent)
}

.card-info.secondary {
  border-color: var(--color-border-accent); /*#767676;*/
}

.card-info.secondary .card-info-label {
  border-color: transparent var(--color-border-accent) transparent transparent;
  border-color: var(--color-border-transparent) var(--color-border-accent) var(--color-border-transparent) var(--color-border-transparent)
}

.card-info .card-info-label {
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  float: right;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

.card-info .card-info-label-text {
  color: var(--color-text-invert); /*#fefefe;*/
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
