:root {
  --color-bg: #e5e4d3;
  --color-text: #241a22;
  --color-text-invert: #e5e4d3;
  --color-text-highlight: #20436f;
  --color-base: #817b7b;
  --color-accent: #667075;
  --color-tertiary: #666666;
  --color-border: #838378;
  --color-border-accent: #727267;
  --color-drop-shadow: #000000; }

body {
  background: var(--color-bg);
  color: var(--color-text); }

footer {
  text-align: center;
  background: var(--color-base);
  color: var(--color-text); }
  footer p {
    margin-bottom: 0; }
  footer a {
    color: var(--color-text); }
    footer a:hover {
      color: var(--color-text-highlight); }

label {
  color: var(--color-text); }

hr {
  padding-top: 0px;
  margin-top: 0px; }

.main-wrapper {
  min-height: 100vh;
  height: auto !important;
  padding-bottom: 50px; }

.title-block {
  margin-left: 1.25rem;
  margin-bottom: 1rem; }

.music-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.button {
  background: var(--color-base);
  color: var(--color-text); }
  .button:hover {
    background: var(--color-accent);
    color: var(--color-text-invert); }
  .button.secondary {
    background: var(--color-tertiary);
    color: var(--color-text); }
    .button.secondary:hover {
      background: var(--color-accent);
      color: var(--color-text-invert); }

select, [type="number"] {
  width: auto; }

.moon-button {
  color: #fefcd7; }

.sun-button {
  color: #fcd440; }

.switch input:checked ~ .switch-paddle {
  background: var(--color-base); }

.switch-paddle {
  background: var(--color-accent);
  border-radius: 20px; }
  .switch-paddle:after {
    border-radius: 50%; }

.post-css-class {
  color: var(--color-text); }

.content-transition {
  display: none; }

.title-icon .fa:hover, .title-icon .fas:hover {
  color: var(--color-text-highlight); }

.user-icon {
  height: 120px;
  width: 120px;
  padding-left: 0px;
  padding-right: 10px;
  vertical-align: middle; }

.user-name {
  padding-bottom: 0px;
  margin-bottom: 0px; }

.nav-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--color-base);
  height: 75px;
  margin-bottom: 20px; }

.nav-bar-left {
  margin-left: 15px; }

.nav-bar .nav-bar-logo {
  padding: 1.8rem; }

.nav-bar li {
  background: var(--color-base); }

.nav-bar a {
  color: var(--color-text);
  transition: color 0.2s ease-in; }
  .nav-bar a:hover {
    color: var(--color-text-highlight); }

.menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .menu a:hover {
    color: var(--color-text-highlight); }
  .menu .offcanvas-trigger {
    opacity: .4; }

@media screen and (max-width: 39.9375em) {
  .nav-bar {
    height: 53.57143px; } }

.nav-bar .offcanvas-trigger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1.6rem;
  color: var(--color-text);
  text-transform: uppercase;
  background-color: var(--color-base);
  transition: background-color 0.2s ease-in;
  cursor: pointer; }
  .nav-bar .offcanvas-trigger .offcanvas-trigger-text {
    margin-right: 0.25rem; }
  .nav-bar .offcanvas-trigger:hover {
    background-color: var(--color-bg); }

@media screen and (max-width: 39.9375em) {
  .nav-bar .offcanvas-trigger {
    padding: 0.9rem; } }

.multilevel-offcanvas {
  background: var(--color-bg);
  padding: 20px;
  color: var(--color-text); }
  .multilevel-offcanvas .switch {
    margin-left: 0.1rem; }
  .multilevel-offcanvas > .menu {
    margin-bottom: 1rem; }
  .multilevel-offcanvas .menu a {
    color: var(--color-text);
    opacity: 0.6;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color 0.2s ease-in; }
    .multilevel-offcanvas .menu a:hover {
      color: var(--color-text-highlight); }
  .multilevel-offcanvas .menu .nested {
    padding-bottom: 20px; }
    .multilevel-offcanvas .menu .nested a {
      padding-top: 5px;
      padding-bottom: 5px; }
  .multilevel-offcanvas .is-accordion-submenu-parent > a::after {
    border-color: var(--color-bg) transparent transparent; }
  .multilevel-offcanvas .about-menu {
    margin-left: 20px; }
    .multilevel-offcanvas .about-menu li {
      margin-right: 5px; }
    .multilevel-offcanvas .about-menu a:hover .fa {
      color: var(--color-text);
      transition: color .2s ease-in; }
    .multilevel-offcanvas .about-menu .fa {
      font-size: 2.2rem; }

.body-info {
  text-align: center;
  color: var(--color-text); }
  .body-info .button {
    margin: 1rem 0;
    padding: 0.85em 2em; }

.is-open + .off-canvas-content .hamburger .line:nth-child(1), .is-open + .off-canvas-content .hamburger .line:nth-child(3) {
  width: 12px; }

.is-open + .off-canvas-content .hamburger .line:nth-child(1) {
  -webkit-transform: translateX(-5px) rotate(-45deg);
  -ms-transform: translateX(-5px) rotate(-45deg);
  transform: translateX(-5px) rotate(-45deg); }

.is-open + .off-canvas-content .hamburger .line:nth-child(3) {
  -webkit-transform: translateX(-5px) rotate(45deg);
  -ms-transform: translateX(-5px) rotate(45deg);
  transform: translateX(-5px) rotate(45deg); }

.hamburger .line {
  width: 20px;
  height: 2px;
  background-color: var(--color-text);
  display: block;
  margin: 3px auto;
  transition: all 0.3s ease-in-out; }
  .hamburger .line:last-child {
    margin-bottom: 0.25rem; }

.card-info {
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  box-shadow: 0 10px 20px var(--color-drop-shadow);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0; }
  .card-info .card-info-label {
    border-color: transparent var(--color-border) transparent transparent;
    border-color: var(--color-bg) var(--color-border) var(--color-bg) var(--color-bg); }
  .card-info.secondary {
    border-color: var(--color-border-accent); }
    .card-info.secondary .card-info-label {
      border-color: transparent var(--color-border-accent) transparent transparent;
      border-color: var(--color-bg) var(--color-border-accent) var(--color-bg) var(--color-bg); }
  .card-info .card-info-label {
    border-style: solid;
    border-width: 0 4.375rem 2.5rem 0;
    float: right;
    height: 0px;
    width: 0px;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); }
  .card-info .card-info-content {
    padding: 0.5rem 1.5rem 0.875rem; }
  .card-info .card-info-label-text {
    color: var(--color-text-invert);
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -2.5rem;
    top: 2px;
    white-space: nowrap;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }

.post-buttons, .comment-submit-button {
  text-align: right; }

.palette .palette-button, .palette .palette-submit {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: medium;
  border-color: var(--color-border);
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px var(--color-drop-shadow)); }

.palette .palette-button {
  margin-top: 30px; }

.palette .palette-field {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  .palette .palette-field label {
    color: var(--color-text-invert);
    text-shadow: 2px 2px 2px black; }
  .palette .palette-field button {
    border-style: solid;
    border-width: medium;
    border-color: var(--color-border);
    border-radius: 20px;
    filter: drop-shadow(5px 5px 4px var(--color-drop-shadow));
    padding: 5px;
    height: 130px; }
    .palette .palette-field button:hover {
      background: var(--color-tertiary) !important;
      color: var(--color-text-invert) !important; }
    .palette .palette-field button #color-bg {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-text {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-text-invert {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-text-highlight {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-base {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-accent {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-tertiary {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-border {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-border-accent {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }
    .palette .palette-field button #color-drop-shadow {
      background: var(--color-accent);
      color: var(--color-text-invert);
      border-color: var(--color-border-accent);
      border-width: medium; }

.palette .palette-name {
  display: inline-flex;
  background: var(--color-bg);
  border-style: solid;
  border-width: medium;
  border-color: var(--color-border);
  border-radius: 1em;
  width: 200px;
  height: 100px;
  padding: 5px; }
  .palette .palette-name:before, .palette .palette-name .withoutShadow {
    z-index: 1; }
  .palette .palette-name .withShadow {
    position: absolute;
    z-index: -5;
    background: var(--color-bg);
    margin: -7px;
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
    filter: drop-shadow(5px 5px 4px var(--color-drop-shadow)); }

.palette .palette-container {
  display: inline-flex;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
  text-align: center; }
  .palette .palette-container .palette-box {
    border-style: solid;
    border-width: 3px;
    border-radius: 15%;
    border-color: #111111;
    filter: drop-shadow(5px 5px 4px var(--color-drop-shadow));
    margin-left: 3px;
    vertical-align: middle;
    height: 100px;
    width: 100px; }
  .palette .palette-container .pb-bg {
    background-color: var(--color-bg); }
  .palette .palette-container .pb-base {
    background-color: var(--color-base); }
  .palette .palette-container .pb-accent {
    background-color: var(--color-accent); }
  .palette .palette-container .pb-tertiary {
    background-color: var(--color-tertiary); }
  .palette .palette-container .pb-text {
    background-color: var(--color-text); }
  .palette .palette-container .pb-text-invert {
    background-color: var(--color-text-invert); }
  .palette .palette-container .pb-text-highlight {
    background-color: var(--color-text-highlight); }
  .palette .palette-container .pb-border {
    background-color: var(--color-border); }
  .palette .palette-container .pb-border-accent {
    background-color: var(--color-border-accent); }
  .palette .palette-container .pb-drop-shadow {
    background-color: var(--color-drop-shadow); }

.user-color-schemes {
  text-align: center; }
  .user-color-schemes .list-group {
    margin-left: 0;
    margin-bottom: 0;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--color-drop-shadow);
    background: var(--color-base);
    color: var(--color-text); }
    .user-color-schemes .list-group > :last-child {
      margin-bottom: 0; }
    .user-color-schemes .list-group .user-list-palette {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .user-color-schemes .list-group .user-list-palette .user-list-patches {
        margin: 10px;
        height: 20px;
        width: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: #111111; }
    .user-color-schemes .list-group .list-group-item {
      position: relative;
      margin-left: 0;
      margin-right: 0;
      padding: 15px;
      border-bottom: 1px solid var(--color-border);
      border-radius: 10px; }
      .user-color-schemes .list-group .list-group-item .delete-button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        padding: 15px; }
        .user-color-schemes .list-group .list-group-item .delete-button:hover, .user-color-schemes .list-group .list-group-item .delete-button:focus {
          background-color: var(--color-base);
          border-radius: 10px; }
      .user-color-schemes .list-group .list-group-item > :last-child {
        margin-bottom: 0;
        border-bottom: none; }
      .user-color-schemes .list-group .list-group-item.active {
        color: var(--color-text-highlight);
        background-color: var(--color-accent);
        border-color: 1px solid var(--color-border-accent); }
      .user-color-schemes .list-group .list-group-item:hover, .user-color-schemes .list-group .list-group-item:focus {
        background-color: var(--color-tertiary);
        border-radius: 10px; }
        .user-color-schemes .list-group .list-group-item:hover.active, .user-color-schemes .list-group .list-group-item:focus.active {
          background-color: var(--color-accent); }
      .user-color-schemes .list-group .list-group-item.disabled, .user-color-schemes .list-group .list-group-item.disabled:hover, .user-color-schemes .list-group .list-group-item.disabled:focus, .user-color-schemes .list-group .list-group-item[disabled], .user-color-schemes .list-group .list-group-item[disabled]:hover, .user-color-schemes .list-group .list-group-item[disabled]:focus {
        color: var(--color-invert);
        cursor: not-allowed;
        background-color: var(--color-background); }

.about-me-item {
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-shadow: 0 10px 20px var(--color-drop-shadow);
  background: var(--color-base);
  color: var(--color-text); }
